@page "/About"

<h1>Metamodel Version V3.0</h1>
<h1>AAS API Version V3.0.1</h1>
<h1>LICENSE.TXT for AASX Browser</h1>

<p>
    @{
        var lines = System.IO.File.ReadAllLines("LICENSE.TXT");
        foreach (var line in lines)
        {
            @line<br />
        }
    }
</p>
