@page "/assetid"

<div class="input-section">
    <label for="assetIdInput">Input AssetID:</label>
    <input id="assetIdInput" @bind="CurrentValue" @bind:event="oninput" class="asset-input" />
</div>

@if (!string.IsNullOrEmpty(Asset))
{
    <div class="result-section">
        <p>AssetID: <span>@Asset</span></p>
        <p>
            GET shell-descriptor for AssetID: 
            <a href="@Link" target="_blank">@Link</a>
        </p>
    </div>
}

@code {
    private string CurrentValue { get; set; } = "";
    private string Asset { get; set; } = "";
    private string Asset64 { get; set; } = "";
    private string Link { get; set; } = "";

    private void OnInputChanged()
    {
        if (string.IsNullOrEmpty(CurrentValue))
        {
            return;
        }
        Asset = CurrentValue.Trim();
        Asset64 = Convert.ToBase64String(System.Text.Encoding.ASCII.GetBytes(Asset));
        Link = $"{AasxServer.Program.externalBlazor}/registry/shell-descriptors?assetId={Asset64}";
        CurrentValue = string.Empty;
        StateHasChanged();
    }
}