@page "/Credentials"

<b>Credentials</b>
<br />

<div style="
  width:100%;
  max-width:100%;
  overflow-x:scroll;
  box-sizing:border-box;
">

    <table style="
  width:100%;
  table-layout:fixed;
  border-collapse:collapse;
">
        <tbody>
            @foreach (var entry in GetEntries())
            {
                <tr>
                    <td style="
                      border:1px solid #999;
                      padding:0.5rem;
                      white-space:pre-wrap;
                      word-break:break-word;
                      overflow-wrap:anywhere;
                    ">
                        @entry
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

@code {
    IEnumerable<string> GetEntries()
    {
        var text = AasxServer.cs.GetAsText();

        return text.Split(
            "\r\n\r\n",
            StringSplitOptions.RemoveEmptyEntries
        );
    }
}
