@page "/submodels"

@using AasCore.Aas3_0
@using AasxServerBlazor.Data
@inject AASService SubmodelService

<h1>List of Submodels</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (SubmodelService.GetSubmodels() == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Submodels</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var sm in SubmodelService.GetSubmodels().Where(sm => sm is {IdShort: not null}))
        {
            <tr>
                <td>@sm.IdShort</td>
            </tr>
        }

        </tbody>
    </table>
}

@code {
    List<ISubmodel> _submodels;

    protected override void OnInitialized()
    {
        _submodels = SubmodelService.GetSubmodels();
    }

}