:root {
    --blue-color: blue;
    --lightgray-color: lightgray;
    --green-color: green;
    --red-color: red;
}

/* Tree */
.uic-tree {
    margin-left: 1.25rem;
}

.uic-tree--hidden {
    display: none;
}

.uic-tree__icon {
    float: left;
}

.uic-tree__title {
    margin-left: 1.25rem;
    cursor: pointer;
}


/* Tree Node */
.tree-node {
    background-color: aliceblue;
    padding: 10px;
}

.tree-node img {
    max-width: 50%;
}

/* Details Container */
.node-details-container,
.modal-content {
    border: 3px solid var(--blue-color);
    border-radius: 8px;
    background-color: aliceblue;
    word-wrap: break-word;
    word-break: break-all;
}

.modal-dialog {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
}

.modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
}

.modal-body {
    overflow-y: auto;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1050;
    overflow: hidden;
}

.modal-fullscreen {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.modal-image {
    max-width: 90%;
    max-height: 90%;
    cursor: zoom-out;
}

/* Other */
.loading,
.node-representation,
.observed-event,
.url-section {
    color: white;
    background-color: var(--blue-color);
}

.access {
    color: var(--green-color);
    background-color: var(--green-color);
}

.not-allowed {
    color: var(--red-color);
    background-color: var(--red-color);
}

.policy,
.symbolic-representation {
    color: var(--blue-color);
}

.timestamp,
.create-timestamp,
.update-timestamp {
    color: var(--lightgray-color);
    font-size: 14px;
}

.error-message {
    color: var(--red-color);
}

.qr-code-image {
    max-width: 25%;
}

.qr-code-link {
    color: var(--blue-color);
    text-decoration: underline;
}

.rendering-time-series,
.time-series-info {
    color: var(--blue-color);
    font-style: italic;
}

.time-series-image img,
.time-series-filter img {
    max-width: 950px;
    cursor: zoom-in;
}

.filter-buttons button {
    border: 1px solid black;
    background-color: var(--lightgray-color);
    margin-right: 5px;
}

.filter-buttons button:last-child {
    margin-right: 0;
}

.url-section {
    margin-bottom: 5px;
    padding: 5px;
}

.url-label {
    font-weight: bold;
}

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.aas-model {
    display: flex;
    align-items: stretch;
    height: 100%;
    position: relative;
}

.tree{
    width: calc(100% - 1rem);
    margin-left: 0.5rem; 
    margin-right: 0.5rem; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tree-container,
.details-container {
    overflow-y: auto;
    overflow-x: hidden;
}

.tree-container {
    flex: 0 0 auto;
    width: 50%;
    height: 100%;
}

.details-container {
    position: sticky;
    top: 0;
    flex: 1;
    height: 100%;
}

