:root {
    --primary-color: #0026CC;
    --secondary-color: #9BA2FF;
    --secondary-color-shade: #9097ee;
    --primary-background-color: white;
    --secondary-background-color: hsl(220, 100%, 95%);
    --tertiary-color: #A499BE;
    --highlight-color: #9E8576;
    --highlight-color-shadow: #7A542E;
    --warning-color: #F5F749;
    --approval-color: var(--green-color);
    --lightgray-color: lightgray;
    --green-color: #5ce076;
    --red-color: #F24236;
    --border-color: var(--red-color);
    --text-light-color: white;
}

/* Tree */
.uic-tree {
    margin-left: 1.25rem;
}

.uic-tree--hidden {
    display: none;
}

.uic-tree__icon {
    float: left;
}

.uic-tree__title {
    margin-left: 1.25rem;
    cursor: pointer;
}


/* Tree Node */
.tree-node {
    padding: 10px;
    display: flex;
    align-items: flex-start;
}

.tree-node img {
    max-width: 50%;
}

.tree-title {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.tree-icon {
    max-width: 50px;
    max-height: 50px;
    margin-right: -1rem;
    margin-left: 1.25rem;
}

/* Details Container */
.node-details-container,
.modal-content {
    border: 3px solid var(--primary-color);
    border-radius: 8px;
    word-wrap: break-word;
    word-break: break-all;
}

.modal-dialog {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
}

.modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
}

.modal-body {
    overflow-y: auto;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1050;
    overflow: hidden;
}

.modal-fullscreen {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.modal-image {
    max-width: 90%;
    max-height: 90%;
    cursor: zoom-out;
}

/* Other */
.loading,
.observed-event {
    color: white;
    background-color: var(--primary-color);
}

.access {
    color: var(--green-color);
    background-color: var(--green-color);
}

.not-allowed {
    color: var(--red-color);
    background-color: var(--red-color);
}

.policy,
.symbolic-representation {
    color: var(--primary-color);
}

.timestamp {
    font-size: 14px;
    font-style: italic;
}

.create-timestamp,
.update-timestamp {
    color: var(--lightgray-color);
    font-size: 14px;
}

.error-message {
    color: var(--red-color);
}

.qr-code-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-code-image a {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
}

.qr-code-image img {
    max-width: 30%;
}

.qr-code-link {
    color: var(--primary-color);
    text-decoration: underline;
}

.rendering-time-series,
.time-series-info {
    color: var(--primary-color);
    font-style: italic;
}

.time-series-image img,
.time-series-filter img {
    max-width: 950px;
    cursor: zoom-in;
}

.filter-buttons button {
    border: 1px solid black;
    background-color: var(--lightgray-color);
    margin-right: 5px;
}

.filter-buttons button:last-child {
    margin-right: 0;
}

.url-section {
    margin-bottom: 5px;
    padding: 5px;
    word-wrap: break-word;
}

.url-label {
    font-weight: bold;
}

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.aas-model {
    display: flex;
    align-items: stretch;
    height: 100%;
    position: relative;
}

.tree {
    width: calc(100% - 1rem);
    margin-left: 1.15rem;
    margin-right: 0.5rem;
    margin-top: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
}

.tree-container,
.details-container {
    overflow-y: auto;
    overflow-x: hidden;
    border: 0.15rem solid var(--primary-color);
    border-radius: 0.5rem;
    min-height: 50vh;
}

a:hover {
    color: var(--primary-color);
}

.tree-container {
    flex: 0 0 auto;
    height: 100%;
    background-color: var(--secondary-background-color);
}

.details-container {
    position: sticky;
    top: 0;
    flex: 1;
    height: 100%;
}

.url-section,
.tree-node-type-content {
    padding: 0.2rem;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
    min-width: 1rem;
}

.node-representation,
.tree-node-type-info {
    color: var(--text-light-color);
    background-color: var(--primary-color);
    padding: 0.2rem;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
    min-width: 1rem;
}

.timestamp-button {
    background-color: var(--primary-color);
    color: var(--text-light-color);
    border-color: var(--primary-color);

    &:hover {
        color: var(--lightgray-color);
        background-color: var(--secondary-color);
        border-color: var(--secondary-color-shade);
    }

    /* Click effect */

    &:active {
        color: var(--lightgray-color);
        background-color: var(--secondary-color);
        border-color: var(--secondary-color-shade);
    }
}

.tree-node-type-content,
.tree-node-type-info,
.tree-item-details-container {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}

.tree-item-details-sub-header,
.tree-item-details-header {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.tree-item-details-sub-header {
    font-size: 1.2rem;
    text-decoration: underline;
}

.selected-node {
    outline: none;
    border: 0.1rem solid var(--border-color);
    padding: 0.4rem;
    margin-left: 0.2rem;
    background: var(--secondary-background-color) !important;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}

.tree-details-image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 15rem;
    padding-bottom: 1rem;
}

.tree-details-image img {
    max-width: 15rem !important;
    max-height: 15rem !important;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}

.splitter-gutter{
    border-radius: 10px;
}
