@inherits LayoutComponentBase

<div class="main">

    <div class="top-row px-4">
        <span align=left hspace=20 style="color:blue;font:xx-large"><strong>AASX Browser</strong></span>
        <img align=left hspace=20 src="Icon_AASX_256x256_W.png" height="60" width="60" />
        <img align=left hspace=20 src="SpecPI40_t.png" height="22" width="250" />
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-list-rich" aria-hidden="true"></span> AASX Model
        </NavLink>
        <NavLink class="nav-link" href="About" Match="NavLinkMatch.All">
            <span class="oi oi-list-rich" aria-hidden="true"></span> LICENSE.TXT
        </NavLink>
    </div>

    <div class="content px-4" >
        @Body
    </div>
</div>
