@inherits LayoutComponentBase
@inject NavigationManager NavMan
@inject Data.AASService SubmodelService
@using AasxServer
@inject IRegistryInitializerService AasRegistryService
@using IO.Swagger.Registry.Lib.V3.Interfaces;

<style>
    @@keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    } 

    .logo {
        max-height: 3.63rem;
        margin-left: 0.3125rem;
        margin-right: 0.3125rem;
    }

    .nav-link {
        margin-right: 20px;
    }

    .content {
        padding: 20px 0;
    }
</style>

<div class="main h-screen">
    @if (Program.isLoading)
    {
        <span style="color:white;background-color:blue;">Loading...</span>
        System.Threading.Thread.Sleep(1000);
        StateHasChanged();
    }
    else
    {
        InitializeCredentialsAndRegistry();

        var isProductCarbonFootprintShowcase = IsProductCarbonFootprintShowcaseUri(NavMan.Uri);

        if (!isProductCarbonFootprintShowcase)
        {
            <div style="display: flex; justify-content: space-between; align-items: center; padding: 20px 0;" class="px-4">
                <span style="color: blue; font-size: xx-large; margin-right: 20px;">
                    <strong>AASX Browser</strong>
                </span>
                <div style="display: flex; align-items: center; margin-right: 20px;">
                    <img src="2022-02-15_IDTA_AAS-Logo_Final_RGB.png" alt="AASX Logo" height="3.4rem" class="logo">
                    <img src="Logo_IDTA.jpg" alt="IDTA Logo" height="1.8rem" class="logo">
                    <img src="SpecPI40_t.png" alt="SpecPI40 Logo" height="1.3rem" class="logo">
                </div>
                <nav>
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> AASX Model
                    </NavLink>
                    <NavLink class="nav-link" href="About" Match="NavLinkMatch.All">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> LICENSE.TXT
                    </NavLink>
                </nav>
            </div>

            <div class="content px-4">
                @Body
            </div>
        }
        else
        {
            <CarbonFootprintShowcaseLayout></CarbonFootprintShowcaseLayout>
        }
    }
</div>

@code {
    static string _input = "";

    protected override void OnInitialized()
    {
        SubmodelService.NewDataAvailable += NewData;
    }

    public void Dispose()
    {
        SubmodelService.NewDataAvailable -= NewData;
    }

    void NewData(object source, EventArgs args)
    {
        if (Program.isLoading)
            return;

        if (args is not Program.NewDataAvailableArgs newArgs)
        {
            return;
        }

        var newDataMode = newArgs.signalNewDataMode;
        if (newDataMode != 0)
        {
            InvokeAsync(StateHasChanged);
        }
    }

    void InitializeCredentialsAndRegistry()
    {
        if (_input != "")
        {
            return;
        }

        _input = "anonymous";
        AasxCredentials.initAnonymous(cs.credentials);
        AasRegistryService.InitRegistry(cs.credentials, DateTime.UtcNow);
        AasxTask.resetTimeStamp();
    }

    static bool IsProductCarbonFootprintShowcaseUri(string uri)
    {
        string[] pcfEndings = {"/pcf", "/pcf/", "/pcf2", "/pcf2/", "/pcf2edc", "/pcf2edc/"};
        return pcfEndings.Any(uri.EndsWith);
    }
}