@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject Data.AASService SubmodelService
@using AasxServer
@inject IRegistryInitializerService AasRegistryService
@using IO.Swagger.Registry.Lib.V3.Interfaces;
@using System.Reflection

<style>
    @@keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    } 
    
    header {
        position: fixed;
        top: 0;
        width: 100%;
        box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.15);
        z-index: 1000;
    }
    
    .main {
        flex: 1;
        overflow-y: auto;
        padding-top: 0.5rem;
        padding-bottom: 4rem;
    }
    
    .navbar {
        display: flex;
        justify-content: space-around;
        padding: 10px 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: white;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    }

    .logo {
        max-height: 3.63rem;
        margin-left: 0.3125rem;
        margin-right: 0.3125rem;
    }

    .logo-container {
        display: flex;
        align-items: center;
    }

    .nav-link {
        margin-right: 20px;
    }

    .content {
        padding: 20px 0;
        margin-top: 5.5rem;
        text-align: center;
        z-index: 0;
    }
    
    .loading {
        color: white;
        background-color: blue;
    }
    
    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #f8f9fa;
        padding: 0.625rem 0;
        text-align: center;
        box-shadow: 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.1);
        z-index: 999;
    }
    
    .footer div {
        display: inline-block;
        margin: 0 0.625rem;
    }

</style>

<div class="main">
    @if (Program.isLoading)
    {
        <span class="loading">Loading...</span>
        System.Threading.Thread.Sleep(1000);
        StateHasChanged();
    }
    else
    {
        InitializeCredentialsAndRegistry();

        var isProductCarbonFootprintShowcase = IsProductCarbonFootprintShowcaseUri(NavigationManager.Uri);

        if (isProductCarbonFootprintShowcase)
        {
            <CarbonFootprintShowcaseLayout></CarbonFootprintShowcaseLayout>
        }
        else
        {
            <header>
                <div class="navbar">
                    <span class="title">
                        <strong>AASX Browser</strong>
                    </span>
                    <div class="logo-container">
                        <img src="2022-02-15_IDTA_AAS-Logo_Final_RGB.png" alt="AASX Logo" class="logo">
                        <img src="Logo_IDTA.jpg" alt="IDTA Logo" class="logo">
                        <img src="SpecPI40_t.png" alt="SpecPI40 Logo" class="logo">
                    </div>
                    <nav>
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> AASX Model
                        </NavLink>
                        <NavLink class="nav-link" href="About" Match="NavLinkMatch.All">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> LICENSE.TXT
                        </NavLink>
                    </nav>
                </div>
            </header>

            <div class="content">
                @Body
            </div>
            
            <footer class="footer">
                <div class="copyright">
                    &copy; @DateTime.Now.Year IDTA
                </div>
                <div class="version">
                    Version: @GetAssemblyFileVersion()
                </div>
            </footer>
        }
    }
</div>

@code {
    static string _input = "";

    protected override void OnInitialized()
    {
        SubmodelService.NewDataAvailable += NewData;
    }

    public void Dispose()
    {
        SubmodelService.NewDataAvailable -= NewData;
    }

    void NewData(object source, EventArgs args)
    {
        if (Program.isLoading)
        {
            return;
        }

        if (args is not Program.NewDataAvailableArgs newArgs)
        {
            return;
        }

        var newDataMode = newArgs.signalNewDataMode;
        if (newDataMode != 0)
        {
            InvokeAsync(StateHasChanged);
        }
    }

    void InitializeCredentialsAndRegistry()
    {
        if (_input != "")
        {
            return;
        }

        _input = "anonymous";
        AasxCredentials.initAnonymous(cs.credentials);
        AasRegistryService.InitRegistry(cs.credentials, DateTime.UtcNow);
        AasxTask.resetTimeStamp();
    }

    static bool IsProductCarbonFootprintShowcaseUri(string uri)
    {
        string[] pcfEndings = {"/pcf", "/pcf/", "/pcf2", "/pcf2/", "/pcf2edc", "/pcf2edc/"};
        return pcfEndings.Any(uri.EndsWith);
    }

    private static string GetAssemblyFileVersion()
    {
        var assembly = Assembly.GetExecutingAssembly();
        var version = assembly.GetCustomAttribute<AssemblyFileVersionAttribute>()?.Version;

        return version ?? "0.0.0";
    }

}