<div class="navbar navbar-dark">
    <a class="navbar-brand" href="">AASX Browser</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="Tree" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Show Tree
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool _isNavMenuCollapsed = true;

    public string NavMenuCssClass => _isNavMenuCollapsed ? "collapse" : null;

    public void ToggleNavMenu()
    {
        _isNavMenuCollapsed = !_isNavMenuCollapsed;
    }
}
