@using AasxServerBlazor.TreeVisualisation
@using Extensions
@using AasxServer
@namespace AasxServerBlazor.Pages.TreeNodeComponents

@code {
    [Parameter] public TreeItem SelectedNode { get; set; }
    private const string TimeFormat = "yy-MM-dd HH:mm:ss.fff";
}

@{
    if (SelectedNode is {Tag: BasicEventElement {Observed: not null} basicEventElement})
    {
        var observedEventElementKey = basicEventElement.Observed.GetAsExactlyOneKey().ToStringExtended();
        <span style="color:white;background-color:blue;">Observed</span>
        <span>@(" " + observedEventElementKey)</span>
        <br/>
        var referableEventOfAasEnvironment = Program.env[0].AasEnv.FindReferableByReference(basicEventElement.Observed);
        if (referableEventOfAasEnvironment != null)
        {
            <span style="color:lightgray;">UPDATE @referableEventOfAasEnvironment.TimeStamp.ToString(TimeFormat)</span>
            <br/>
            <span style="color:lightgray;">CREATE @referableEventOfAasEnvironment.TimeStampCreate.ToString(TimeFormat)</span>
            <br/>
        }
        else
        {
            <span>Referenced element does not exist!</span>
            <br/>
        }
    }
}