@using AasxServerBlazor.TreeVisualisation.Builders
@using AasxServerBlazor.TreeVisualisation

@namespace AasxServerBlazor.Pages.TreeNodeComponents

<div class="node-element-container" id="details-image-component">
    @{
        var detailsImage = ImageBuilder.CreateDetailsImage(SelectedNode, out var url, out var svg);
        if (!string.IsNullOrEmpty(detailsImage))
        {
            var imageUrl = url ? detailsImage : $"data:image{(svg ? "/svg+xml" : "")};base64,{detailsImage}";

            <br />
            <div>
                <img src="@imageUrl" alt="Details Image" />
            </div>
        }
    }
</div>

@code {
    [Parameter] public TreeItem SelectedNode { get; set; }
}
