@using AasxServerBlazor.TreeVisualisation
@using AasxServer
@using Extensions
@namespace AasxServerBlazor.Pages.TreeNodeComponents

<div class="tree-node-property-editor">
    @if (IsEditEnabled)
    {
        <input @bind="CurrentValue" class="property-input" />
        <span class="property-value">@CurrentValue</span>
        <br>
    }
</div>

@code {
    [Parameter] public TreeItem SelectedNode { get; set; }

    private string CurrentValue { get; set; }

    private Property SelectedProperty => SelectedNode?.Tag as Property;

    private bool IsEditEnabled => Program.edit && SelectedNode != null && SelectedNode.Tag is Property;

    private void UpdatePropertyValue()
    {
        if (string.IsNullOrEmpty(CurrentValue) || SelectedProperty == null)
        {
            return;
        }

        SelectedProperty.Value = CurrentValue;
        SelectedProperty.SetTimeStamp(DateTime.UtcNow);
        Program.env[SelectedNode.EnvironmentIndex].setWrite(true);
        Program.signalNewData(0);
        CurrentValue = string.Empty;
    }
}