@using AasxServerBlazor.TreeVisualisation
@using Extensions
@using AasxServer
@namespace AasxServerBlazor.Pages.TreeNodeComponents

<div class="tree-node-timestamp">
    @if (IsNodeValid)
    {
        <span class="timestamp-label">UPDATE @ReferableNode.TimeStamp.ToString(TimeFormat)</span>
        <br/>
        <button class="timestamp-button" @onclick="SetTimeStamp">TIMESTAMP</button>
        <br/>
        <span class="timestamp-label">CREATE @ReferableNode.TimeStampCreate.ToString(TimeFormat)</span>
        <br/>
        <span class="timestamp-label">TREE @ReferableNode.TimeStampTree.ToString(TimeFormat)</span>
        <br/>
    }
</div>

@code {
    [Parameter] public TreeItem SelectedNode { get; set; }

    private const string TimeFormat = "yy-MM-dd HH:mm:ss.fff";

    private IReferable ReferableNode => SelectedNode?.Tag as IReferable;

    private bool IsNodeValid => ReferableNode != null;

    private void SetTimeStamp()
    {
        if (!IsNodeValid)
        {
            return;
        }
        ReferableNode.SetTimeStamp(DateTime.UtcNow);
        Program.env[SelectedNode.EnvironmentIndex].setWrite(true);
    }
}