@using AasxServerBlazor.TreeVisualisation
@using AasxServer
@inject IQrCodeService QrCodeService
@namespace AasxServerBlazor.Pages.TreeNodeComponents

@code {
    [Parameter] public TreeItem SelectedNode { get; set; }
}

@if (SelectedNode != null && SelectedNode.Tag is AssetAdministrationShell)
{
        var tag = SelectedNode.Tag;
        var qrCodeImageBase64 = string.Empty;
        var qrCodeLink = string.Empty;

        if (!Program.generatedQrCodes.ContainsKey(tag))
        {
            qrCodeLink = QrCodeService.GetQrCodeLink(SelectedNode);
            var qrcodeImage = QrCodeService.GetQrCodeImage(SelectedNode);
            if (!string.IsNullOrEmpty(qrcodeImage))
            {
                qrCodeImageBase64 = qrcodeImage;
            }
        }

        if (!string.IsNullOrEmpty(qrCodeImageBase64))
        {
            <a href="@qrCodeLink" target="_blank">
                <div>
                    <img src="data:image;base64,@qrCodeImageBase64" class="qr-code-image" alt="Qrcode Image"/>
                </div>
            </a>
        }
        else if (!string.IsNullOrEmpty(qrCodeLink))
        {
            <a href="@qrCodeLink" target="_blank" class="qr-code-link">@qrCodeLink</a>
            <br />
        }
}
