
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>
    <NotFound>
        <p class="m-3">Seite nicht gefunden.</p>
    </NotFound>
</Router>
